.hom {
  background: white;
}
.dis:hover {
  background: rgba(255,200,0, 60%);
}
.abt:hover {
  background: rgba(3,252,90, 60%);
}
.mat:hover {
  background: rgba(132,252,3, 60%);
}
.sci:hover {
  background: rgba(161,3,252, 60%);
}
.his:hover {
  background: rgba(252,3,252, 60%);
}
.eng:hover {
  background: rgba(252,3,107, 60%);
}
.art:hover {
  background: rgba(157,252,3, 60%);
}
.cok:hover {
  background: rgba(3,244,252, 60%);
}
.lan:hover {
  background: rgba(3,90,252, 60%);
}
.cmp:hover {
  background: rgba(90,3,252, 60%);
}
.ecm:hover {
  background: rgba(252,82,3, 60%);
}
#tras {
  transform:translateY(400%);
}
.hom:hover, .dis:hover, .abt:hover, .mat:hover, .sci:hover, .his:hover, .eng:hover, .art:hover, .cok:hover, .lan:hover, .cmp:hover, .ecm:hover {
}
