.block {
  border: 1px black solid;
  width: 100%;
  margin-left: 15px;
  margin-rightt: 15px;
}
.topbar {
  margin-top: 25px;
  padding-left: 0px;
}
body {
  height:auto;
}

.bottom {
  position: absolute;
  bottom: 0px;
  height: 25px;
}

.top {
  position: absolute;
  top: 0px;
  height: 25px;
}
