.tblock {
  border: 5px black solid;
  padding-left: 20px;
}

.title {

}

.heading {
  font-size: 20px;
  margin-top: 30px;
}

.regblock embed {
  border: 2px black solid;
  margin-top: 20px;
  height: 300px;
  width: 100%;
}

.search {
  margin-top: 20px;
  width: 100% - 5px;
  background: none;
  display: block;
  transform:translateY(-158px);

  text-align: right;

}

.searchbar {
  border: 5px solid black;
}
