.head, .upload {
  border-radius: 40px;
  width: 80%;
  margin: 5VH 1.7VW;
  padding: 13VH 8VW;
  background: white;

}
.head {
  min-height: 13.89VH;
}
.upload {
  min-height: 6.94VH;
}

body {
  background-size: auto auto;
  background-image: url("../ref/discover.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 2000px;
}

.upld {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

input {
  border: 1px solid black;
  border-radius: 15%;
  padding: 15px;
}
