body {
  background-size: auto auto;
  background-image: url("../ref/history.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 2000px;
}
#load {
  font-size: 5VW;
  transform:translateY(30VH);
  font-family: roman;
  text-align: center;
}
